USE [TD_62FD]
GO
/****** Objeto: Table [dbo].[Asiento_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento_62FD](
	[IdAsiento_62FD] [int] NOT NULL,
	[NroVuelo_62FD] [varchar](10) NOT NULL,
	[NroAsiento_62FD] [varchar](5) NOT NULL,
	[Clase_62FD] [varchar](20) NOT NULL,
	[EstadoAsiento_62FD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Asiento_62FD] PRIMARY KEY CLUSTERED 
(
	[IdAsiento_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DV_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_23DB](
	[IdTabla] [int] NOT NULL,
	[NombreTabla] [varchar](50) NOT NULL,
	[DVH] [bigint] NOT NULL,
	[DVV] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Eventos_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos_23DB](
	[Id_Evento] [int] NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Evento] [varchar](50) NOT NULL,
	[Criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_62FD](
	[NroFactura_62FD] [varchar](20) NOT NULL,
	[CodPago_62FD] [varchar](20) NOT NULL,
	[FechaEmision_62FD] [datetime] NOT NULL,
	[Total_62FD] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Factura_62FD] PRIMARY KEY CLUSTERED 
(
	[NroFactura_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamFam_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamFam_23DB](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_23DB](
	[IdFamilia] [int] NOT NULL,
	[NombreFamilia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamPat_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamPat_23DB](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago_62FD](
	[CodPago_62FD] [varchar](20) NOT NULL,
	[CodReserva_62FD] [varchar](20) NOT NULL,
	[MedioPago_62FD] [varchar](20) NOT NULL,
	[EntidadFinanciera_62FD] [varchar](50) NULL,
	[UltimosDigitos_62FD] [varchar](4) NULL,
	[CodigoAutorizacion_62FD] [varchar](20) NULL,
	[FechaOperacion_62FD] [datetime] NOT NULL,
	[MontoTotal_62FD] [decimal](10, 2) NOT NULL,
	[EstadoPago_62FD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Pago_62FD] PRIMARY KEY CLUSTERED 
(
	[CodPago_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pasaje_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasaje_62FD](
	[CodPasaje_62FD] [varchar](20) NOT NULL,
	[IdDetalle_62FD] [int] NOT NULL,
	[FechaEmision_62FD] [datetime] NOT NULL,
	[EstadoPasaje_62FD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Pasaje_62FD] PRIMARY KEY CLUSTERED 
(
	[CodPasaje_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pasajero_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero_62FD](
	[numeroDocumento_62FD] [varchar](8) NOT NULL,
	[Apellido_62FD] [varchar](50) NOT NULL,
	[Nombre_62FD] [varchar](50) NOT NULL,
	[FechaNacimiento_62FD] [date] NOT NULL,
	[CorreoElectronico_62FD] [varchar](100) NOT NULL,
	[Telefono_62FD] [varchar](20) NOT NULL,
	[ContactoEmergencia_62FD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Pasajero_62FD] PRIMARY KEY CLUSTERED 
(
	[numeroDocumento_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Patente_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_23DB](
	[IdPatente] [int] NOT NULL,
	[NombrePatente] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reserva_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva_62FD](
	[CodReserva_62FD] [varchar](20) NOT NULL,
	[NroVuelo_62FD] [varchar](10) NOT NULL,
	[FechaReserva_62FD] [datetime] NOT NULL,
	[MontoTotal_62FD] [decimal](10, 2) NOT NULL,
	[EstadoReserva_62FD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Reserva_62FD] PRIMARY KEY CLUSTERED 
(
	[CodReserva_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReservaDetalle_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaDetalle_62FD](
	[IdDetalle_62FD] [int] NOT NULL,
	[CodReserva_62FD] [varchar](20) NOT NULL,
	[numeroDocumento_62FD] [varchar](8) NOT NULL,
	[IdAsiento_62FD] [int] NOT NULL,
	[Precio_62FD] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ReservaDetalle_62FD] PRIMARY KEY CLUSTERED 
(
	[IdDetalle_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_23DB](
	[IdRol] [int] NOT NULL,
	[NombreRol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFam_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFam_23DB](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPat_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPat_23DB](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario_23DB] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_23DB](
	[DNI] [varchar](8) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Bloqueado] [bit] NULL,
	[Activo] [bit] NULL,
	[IntentosFallidos] [int] NULL,
	[FechaUltimoIntento] [datetime] NULL,
	[UltimoIdioma] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vuelo_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelo_62FD](
	[NroVuelo_62FD] [varchar](10) NOT NULL,
	[Origen_62FD] [varchar](50) NOT NULL,
	[Destino_62FD] [varchar](50) NOT NULL,
	[FechaHoraSalida_62FD] [datetime] NOT NULL,
	[Matricula_62FD] [varchar](10) NOT NULL,
	[Precio_62FD] [decimal](10, 2) NOT NULL,
	[EstadoVuelo_62FD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Vuelo_62FD] PRIMARY KEY CLUSTERED 
(
	[NroVuelo_62FD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asiento_62FD] ([IdAsiento_62FD], [NroVuelo_62FD], [NroAsiento_62FD], [Clase_62FD], [EstadoAsiento_62FD]) VALUES (1, N'AM1102', N'1A', N'Ejecutiva', N'Disponible')
INSERT [dbo].[Asiento_62FD] ([IdAsiento_62FD], [NroVuelo_62FD], [NroAsiento_62FD], [Clase_62FD], [EstadoAsiento_62FD]) VALUES (2, N'AM1102', N'1B', N'Ejecutiva', N'Disponible')
INSERT [dbo].[Asiento_62FD] ([IdAsiento_62FD], [NroVuelo_62FD], [NroAsiento_62FD], [Clase_62FD], [EstadoAsiento_62FD]) VALUES (3, N'AM1102', N'1C', N'Ejecutiva', N'Disponible')
GO
INSERT [dbo].[DV_23DB] ([IdTabla], [NombreTabla], [DVH], [DVV]) VALUES (1, N'Usuario_23DB', 21942, 21942)
INSERT [dbo].[DV_23DB] ([IdTabla], [NombreTabla], [DVH], [DVV]) VALUES (2, N'Rol_23DB', 2053, 2053)
INSERT [dbo].[DV_23DB] ([IdTabla], [NombreTabla], [DVH], [DVV]) VALUES (3, N'Eventos_23DB', 437507, 437507)
GO
INSERT [dbo].[Eventos_23DB] ([Id_Evento], [DNI], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (1, N'12345678', CAST(N'2026-09-09' AS Date), CAST(N'13:39:20.8792243' AS Time), N'Usuarios', N'Login', 1)
INSERT [dbo].[Eventos_23DB] ([Id_Evento], [DNI], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (2, N'12345678', CAST(N'2026-09-09' AS Date), CAST(N'13:39:56.8973265' AS Time), N'Administrador', N'Crear Usuario', 2)
INSERT [dbo].[Eventos_23DB] ([Id_Evento], [DNI], [Fecha], [Hora], [Modulo], [Evento], [Criticidad]) VALUES (3, N'12345678', CAST(N'2026-09-09' AS Date), CAST(N'13:40:04.8847961' AS Time), N'Administrador', N'Activar / Desactivar Usuario', 2)
GO
INSERT [dbo].[Factura_62FD] ([NroFactura_62FD], [CodPago_62FD], [FechaEmision_62FD], [Total_62FD]) VALUES (N'0001-260928214415', N'P260928214415', CAST(N'2026-09-28T21:44:15.737' AS DateTime), CAST(537800.00 AS Decimal(10, 2)))
INSERT [dbo].[Factura_62FD] ([NroFactura_62FD], [CodPago_62FD], [FechaEmision_62FD], [Total_62FD]) VALUES (N'0001-260928214448', N'P260928214448', CAST(N'2026-09-28T21:44:48.190' AS DateTime), CAST(178800.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Familia_23DB] ([IdFamilia], [NombreFamilia]) VALUES (1, N'Prueba1')
GO
INSERT [dbo].[FamPat_23DB] ([IdFamilia], [IdPatente]) VALUES (1, 1)
INSERT [dbo].[FamPat_23DB] ([IdFamilia], [IdPatente]) VALUES (1, 5)
GO
INSERT [dbo].[Pago_62FD] ([CodPago_62FD], [CodReserva_62FD], [MedioPago_62FD], [EntidadFinanciera_62FD], [UltimosDigitos_62FD], [CodigoAutorizacion_62FD], [FechaOperacion_62FD], [MontoTotal_62FD], [EstadoPago_62FD]) VALUES (N'P260928214415', N'R260928214355', N'Efectivo', N'', N'', N'EFECTIVO', CAST(N'2026-09-28T21:44:15.727' AS DateTime), CAST(537800.00 AS Decimal(10, 2)), N'Aprobado')
INSERT [dbo].[Pago_62FD] ([CodPago_62FD], [CodReserva_62FD], [MedioPago_62FD], [EntidadFinanciera_62FD], [UltimosDigitos_62FD], [CodigoAutorizacion_62FD], [FechaOperacion_62FD], [MontoTotal_62FD], [EstadoPago_62FD]) VALUES (N'P260928214448', N'R260928214253', N'Débito', N'Visa', N'1212', N'AUT260928214448', CAST(N'2026-09-28T21:44:48.177' AS DateTime), CAST(178800.00 AS Decimal(10, 2)), N'Aprobado')
GO
INSERT [dbo].[Pasaje_62FD] ([CodPasaje_62FD], [IdDetalle_62FD], [FechaEmision_62FD], [EstadoPasaje_62FD]) VALUES (N'T2609282144153', 3, CAST(N'2026-09-28T21:44:15.733' AS DateTime), N'Emitido')
INSERT [dbo].[Pasaje_62FD] ([CodPasaje_62FD], [IdDetalle_62FD], [FechaEmision_62FD], [EstadoPasaje_62FD]) VALUES (N'T2609282144154', 4, CAST(N'2026-09-28T21:44:15.730' AS DateTime), N'Emitido')
INSERT [dbo].[Pasaje_62FD] ([CodPasaje_62FD], [IdDetalle_62FD], [FechaEmision_62FD], [EstadoPasaje_62FD]) VALUES (N'T2609282144481', 1, CAST(N'2026-09-28T21:44:48.183' AS DateTime), N'Emitido')
GO
INSERT [dbo].[Pasajero_62FD] ([numeroDocumento_62FD], [Apellido_62FD], [Nombre_62FD], [FechaNacimiento_62FD], [CorreoElectronico_62FD], [Telefono_62FD], [ContactoEmergencia_62FD]) VALUES (N'11112222', N'Contreras', N'Roxana', CAST(N'2025-11-03' AS Date), N'roxy@gmail.com', N'1143257654', N'1109875678')
INSERT [dbo].[Pasajero_62FD] ([numeroDocumento_62FD], [Apellido_62FD], [Nombre_62FD], [FechaNacimiento_62FD], [CorreoElectronico_62FD], [Telefono_62FD], [ContactoEmergencia_62FD]) VALUES (N'12341321', N'Milei', N'Javier', CAST(N'2026-09-27' AS Date), N'adasd@mail.com', N'1153242345', N'1165434235')
INSERT [dbo].[Pasajero_62FD] ([numeroDocumento_62FD], [Apellido_62FD], [Nombre_62FD], [FechaNacimiento_62FD], [CorreoElectronico_62FD], [Telefono_62FD], [ContactoEmergencia_62FD]) VALUES (N'12345678', N'dsadas', N'eqwqf', CAST(N'2026-09-27' AS Date), N'asda@mail.com', N'1154423432', N'1154324235')
GO
INSERT [dbo].[Patente_23DB] ([IdPatente], [NombrePatente], [Descripcion]) VALUES (1, N'Gestion de Usuarios', N'Acceso al modulo de gestion de usuarios')
INSERT [dbo].[Patente_23DB] ([IdPatente], [NombrePatente], [Descripcion]) VALUES (2, N'Gestion de Perfiles', N'Acceso al modulo de gestion de perfiles')
INSERT [dbo].[Patente_23DB] ([IdPatente], [NombrePatente], [Descripcion]) VALUES (3, N'Cambio de Clave', N'Acceso al modulo de cambio de clave')
GO
INSERT [dbo].[Reserva_62FD] ([CodReserva_62FD], [NroVuelo_62FD], [FechaReserva_62FD], [MontoTotal_62FD], [EstadoReserva_62FD]) VALUES (N'R260928214253', N'AM1102', CAST(N'2026-09-28T21:42:53.903' AS DateTime), CAST(178800.00 AS Decimal(10, 2)), N'Confirmada')
INSERT [dbo].[Reserva_62FD] ([CodReserva_62FD], [NroVuelo_62FD], [FechaReserva_62FD], [MontoTotal_62FD], [EstadoReserva_62FD]) VALUES (N'R260928214355', N'AM2212', CAST(N'2026-09-28T21:43:55.480' AS DateTime), CAST(537800.00 AS Decimal(10, 2)), N'Confirmada')
GO
INSERT [dbo].[ReservaDetalle_62FD] ([IdDetalle_62FD], [CodReserva_62FD], [numeroDocumento_62FD], [IdAsiento_62FD], [Precio_62FD]) VALUES (1, N'R260928214253', N'46638662', 28, CAST(89400.00 AS Decimal(10, 2)))
INSERT [dbo].[ReservaDetalle_62FD] ([IdDetalle_62FD], [CodReserva_62FD], [numeroDocumento_62FD], [IdAsiento_62FD], [Precio_62FD]) VALUES (2, N'R260928214253', N'12345678', 29, CAST(89400.00 AS Decimal(10, 2)))
INSERT [dbo].[ReservaDetalle_62FD] ([IdDetalle_62FD], [CodReserva_62FD], [numeroDocumento_62FD], [IdAsiento_62FD], [Precio_62FD]) VALUES (3, N'R260928214355', N'11112222', 98, CAST(268900.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Rol_23DB] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol_23DB] ([IdRol], [NombreRol]) VALUES (2, N'Basico')
GO
INSERT [dbo].[RolPat_23DB] ([IdRol], [IdPatente]) VALUES (1, 1)
INSERT [dbo].[RolPat_23DB] ([IdRol], [IdPatente]) VALUES (1, 2)
INSERT [dbo].[RolPat_23DB] ([IdRol], [IdPatente]) VALUES (1, 3)
GO
INSERT [dbo].[Usuario_23DB] ([DNI], [Apellido], [Nombre], [Email], [Login], [Password], [IdRol], [Bloqueado], [Activo], [IntentosFallidos], [FechaUltimoIntento], [UltimoIdioma]) VALUES (N'11112222', N'DeMieri', N'Facundo1', N'facu.demieri@mail.com', N'Facundo.DeMieri', N'344f2fd3b0c3d4d9679e658c04ddcef343236273326d3379c22bf8d5c3902b9d', 2, 0, 1, 0, NULL, N'ingles')
INSERT [dbo].[Usuario_23DB] ([DNI], [Apellido], [Nombre], [Email], [Login], [Password], [IdRol], [Bloqueado], [Activo], [IntentosFallidos], [FechaUltimoIntento], [UltimoIdioma]) VALUES (N'12345678', N'Garcia', N'Juan', N'juan.garcia@mail.com', N'Juan.Garcia', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 1, 0, 1, 0, NULL, N'ingles')
GO
INSERT [dbo].[Vuelo_62FD] ([NroVuelo_62FD], [Origen_62FD], [Destino_62FD], [FechaHoraSalida_62FD], [Matricula_62FD], [Precio_62FD], [EstadoVuelo_62FD]) VALUES (N'AM1102', N'AEP', N'COR', CAST(N'2026-10-15T07:15:00.000' AS DateTime), N'LV-ABD', CAST(89400.00 AS Decimal(10, 2)), N'Programado')
INSERT [dbo].[Vuelo_62FD] ([NroVuelo_62FD], [Origen_62FD], [Destino_62FD], [FechaHoraSalida_62FD], [Matricula_62FD], [Precio_62FD], [EstadoVuelo_62FD]) VALUES (N'AM1104', N'AEP', N'COR', CAST(N'2026-10-17T13:40:00.000' AS DateTime), N'LV-ABD', CAST(96750.00 AS Decimal(10, 2)), N'Programado')
INSERT [dbo].[Vuelo_62FD] ([NroVuelo_62FD], [Origen_62FD], [Destino_62FD], [FechaHoraSalida_62FD], [Matricula_62FD], [Precio_62FD], [EstadoVuelo_62FD]) VALUES (N'AM2210', N'AEP', N'BRC', CAST(N'2026-10-16T08:05:00.000' AS DateTime), N'LV-ABC', CAST(142300.00 AS Decimal(10, 2)), N'Programado')
GO
ALTER TABLE [dbo].[DV_23DB] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[DV_23DB] ADD  DEFAULT ((0)) FOR [DVV]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario_23DB] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Asiento_62FD]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_62FD_Vuelo_62FD] FOREIGN KEY([NroVuelo_62FD])
REFERENCES [dbo].[Vuelo_62FD] ([NroVuelo_62FD])
GO
ALTER TABLE [dbo].[Asiento_62FD] CHECK CONSTRAINT [FK_Asiento_62FD_Vuelo_62FD]
GO
ALTER TABLE [dbo].[Eventos_23DB]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Usuario_23DB] ([DNI])
GO
ALTER TABLE [dbo].[Factura_62FD]  WITH CHECK ADD  CONSTRAINT [FK_Factura_62FD_Pago_62FD] FOREIGN KEY([CodPago_62FD])
REFERENCES [dbo].[Pago_62FD] ([CodPago_62FD])
GO
ALTER TABLE [dbo].[Factura_62FD] CHECK CONSTRAINT [FK_Factura_62FD_Pago_62FD]
GO
ALTER TABLE [dbo].[FamFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[FamPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente_23DB] ([IdPatente])
GO
ALTER TABLE [dbo].[Pago_62FD]  WITH CHECK ADD  CONSTRAINT [FK_Pago_62FD_Reserva_62FD] FOREIGN KEY([CodReserva_62FD])
REFERENCES [dbo].[Reserva_62FD] ([CodReserva_62FD])
GO
ALTER TABLE [dbo].[Pago_62FD] CHECK CONSTRAINT [FK_Pago_62FD_Reserva_62FD]
GO
ALTER TABLE [dbo].[Pasaje_62FD]  WITH CHECK ADD  CONSTRAINT [FK_Pasaje_62FD_ReservaDetalle_62FD] FOREIGN KEY([IdDetalle_62FD])
REFERENCES [dbo].[ReservaDetalle_62FD] ([IdDetalle_62FD])
GO
ALTER TABLE [dbo].[Pasaje_62FD] CHECK CONSTRAINT [FK_Pasaje_62FD_ReservaDetalle_62FD]
GO
ALTER TABLE [dbo].[Reserva_62FD]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_62FD_Vuelo_62FD] FOREIGN KEY([NroVuelo_62FD])
REFERENCES [dbo].[Vuelo_62FD] ([NroVuelo_62FD])
GO
ALTER TABLE [dbo].[Reserva_62FD] CHECK CONSTRAINT [FK_Reserva_62FD_Vuelo_62FD]
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD]  WITH CHECK ADD  CONSTRAINT [FK_ReservaDetalle_62FD_Asiento_62FD] FOREIGN KEY([IdAsiento_62FD])
REFERENCES [dbo].[Asiento_62FD] ([IdAsiento_62FD])
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD] CHECK CONSTRAINT [FK_ReservaDetalle_62FD_Asiento_62FD]
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD]  WITH CHECK ADD  CONSTRAINT [FK_ReservaDetalle_62FD_Pasajero_62FD] FOREIGN KEY([numeroDocumento_62FD])
REFERENCES [dbo].[Pasajero_62FD] ([numeroDocumento_62FD])
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD] CHECK CONSTRAINT [FK_ReservaDetalle_62FD_Pasajero_62FD]
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD]  WITH CHECK ADD  CONSTRAINT [FK_ReservaDetalle_62FD_Reserva_62FD] FOREIGN KEY([CodReserva_62FD])
REFERENCES [dbo].[Reserva_62FD] ([CodReserva_62FD])
GO
ALTER TABLE [dbo].[ReservaDetalle_62FD] CHECK CONSTRAINT [FK_ReservaDetalle_62FD_Reserva_62FD]
GO
ALTER TABLE [dbo].[RolFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia_23DB] ([IdFamilia])
GO
ALTER TABLE [dbo].[RolFam_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
ALTER TABLE [dbo].[RolPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente_23DB] ([IdPatente])
GO
ALTER TABLE [dbo].[RolPat_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario_23DB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol_23DB] ([IdRol])
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarDV] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDV]
    @IdTabla  INT,
    @DVH      BIGINT,
    @DVV      BIGINT
AS
BEGIN
    UPDATE DV_23DB
    SET DVH = @DVH,
        DVV = @DVV
    WHERE IdTabla = @IdTabla;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarEstadoAsiento_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoAsiento_62FD]
@IdAsiento INT,@EstadoAsiento VARCHAR(20)
AS
BEGIN
	UPDATE Asiento_62FD
    SET EstadoAsiento_62FD = @EstadoAsiento
    WHERE IdAsiento_62FD = @IdAsiento;
END
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarEstadoReserva_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoReserva_62FD] 
@CodReserva VARCHAR(20), @EstadoReserva VARCHAR(20)
AS
BEGIN
    UPDATE Reserva_62FD
    SET EstadoReserva_62FD = @EstadoReserva
    WHERE CodReserva_62FD = @CodReserva;
END
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarPassword] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarPassword]
    @DNI       VARCHAR(8),
    @Password  VARCHAR(256)
AS
BEGIN
    UPDATE Usuario_23DB
    SET [Password] = @Password
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarUltimoIdioma] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUltimoIdioma]
    @DNI     VARCHAR(8),
    @Idioma  NVARCHAR(50)
AS
BEGIN
    UPDATE Usuario_23DB
    SET UltimoIdioma = @Idioma
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[BloquearUsuario] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario]
    @DNI VARCHAR(8)
AS
BEGIN
    UPDATE Usuario_23DB
    SET Bloqueado = 1
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[CambiarEstado] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstado]
    @DNI     VARCHAR(8),
    @Activo  BIT
AS
BEGIN
    UPDATE Usuario_23DB
    SET Activo = @Activo
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[ContarAsientosDisponibles_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ContarAsientosDisponibles_62FD]
@NroVuelo VARCHAR(10)
AS
BEGIN
	SELECT COUNT(*) AS Cantidad_62FD FROM Asiento_62FD
    WHERE  NroVuelo_62FD = @NroVuelo
    AND  EstadoAsiento_62FD = 'Disponible';
END
GO
/****** Objeto: StoredProcedure [dbo].[Desbloquear] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Desbloquear]
    @DNI       VARCHAR(8),
    @Password  VARCHAR(256)
AS
BEGIN
    UPDATE Usuario_23DB
    SET Bloqueado = 0,
        [Password] = @Password,
        IntentosFallidos = 0
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarFamFamPorFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFamFamPorFamilia]
    @IdFamilia INT
AS
BEGIN
    DELETE FROM FamFam_23DB
    WHERE IdFamiliaPadre = @IdFamilia
       OR IdFamiliaHija = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarFamFamPorPadre] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFamFamPorPadre]
    @IdFamilia INT
AS
BEGIN
    DELETE FROM FamFam_23DB
    WHERE IdFamiliaPadre = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFamilia]
    @IdFamilia INT
AS
BEGIN
    DELETE FROM Familia_23DB
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarFamPatPorFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFamPatPorFamilia]
    @IdFamilia INT
AS
BEGIN
    DELETE FROM FamPat_23DB
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRol]
    @IdRol INT
AS
BEGIN
    DELETE FROM Rol_23DB
    WHERE IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarRolFamPorFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRolFamPorFamilia]
    @IdFamilia INT
AS
BEGIN
    DELETE FROM RolFam_23DB
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarRolFamPorRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRolFamPorRol]
    @IdRol INT
AS
BEGIN
    DELETE FROM RolFam_23DB
    WHERE IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarRolPatPorRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRolPatPorRol]
    @IdRol INT
AS
BEGIN
    DELETE FROM RolPat_23DB
    WHERE IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[FamiliaEstaEnFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FamiliaEstaEnFamilia]
    @IdFamilia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS Cantidad
    FROM FamFam_23DB
    WHERE IdFamiliaHija = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[FamiliaEstaEnRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FamiliaEstaEnRol]
    @IdFamilia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS Cantidad
    FROM RolFam_23DB
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[FiltrarEventos] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarEventos]
    @FechaInicio  DATE,
    @FechaFin     DATE,
    @DNI          VARCHAR(8)  = NULL,
    @Modulo       VARCHAR(50) = NULL,
    @Evento       VARCHAR(50) = NULL,
    @Criticidad   INT         = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id_Evento, DNI, Fecha, Hora, Modulo, Evento, Criticidad
    FROM Eventos_23DB
    WHERE Fecha BETWEEN @FechaInicio AND @FechaFin
      AND (@DNI        IS NULL OR DNI        = @DNI)
      AND (@Modulo     IS NULL OR Modulo     = @Modulo)
      AND (@Evento     IS NULL OR Evento     = @Evento)
      AND (@Criticidad IS NULL OR Criticidad = @Criticidad)
    ORDER BY Fecha DESC, Hora DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[GenerarBackup] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerarBackup]
    @Ruta NVARCHAR(260)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Sql NVARCHAR(MAX) =
        N'BACKUP DATABASE INGSW_23DB TO DISK = ' + QUOTENAME(@Ruta, '''') + N';';

    EXEC sys.sp_executesql @Sql;
END

GO
/****** Objeto: StoredProcedure [dbo].[IncrementarIntentos] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementarIntentos]
    @DNI    VARCHAR(8),
    @Fecha  DATETIME
AS
BEGIN
    UPDATE Usuario_23DB
    SET IntentosFallidos = IntentosFallidos + 1,
        FechaUltimoIntento = @Fecha
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[Insertar] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insertar]
    @DNI        VARCHAR(8),
    @Apellido   VARCHAR(50),
    @Nombre     VARCHAR(50),
    @Email      VARCHAR(100),
    @Login      VARCHAR(20),
    @Password   VARCHAR(256),
    @IdRol      INT,
    @Bloqueado  BIT,
    @Activo     BIT
AS
BEGIN
    INSERT INTO Usuario_23DB (DNI, Apellido, Nombre, Email, [Login], [Password], IdRol, Bloqueado, Activo)
    VALUES (@DNI, @Apellido, @Nombre, @Email, @Login, @Password, @IdRol, @Bloqueado, @Activo);
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarDetalleReserva_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDetalleReserva_62FD] 
@CodReserva VARCHAR(20), @NumeroDocumento VARCHAR(8), @IdAsiento INT, @Precio DECIMAL(10,2)
AS
BEGIN
    DECLARE @IdDetalle INT;

    SELECT @IdDetalle = ISNULL(MAX(IdDetalle_62FD), 0) + 1
    FROM   ReservaDetalle_62FD WITH (UPDLOCK, HOLDLOCK);


	INSERT INTO ReservaDetalle_62FD  (IdDetalle_62FD, CodReserva_62FD, numeroDocumento_62FD, IdAsiento_62FD, Precio_62FD)
    VALUES (@IdDetalle, @CodReserva, @NumeroDocumento, @IdAsiento, @Precio);
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarEvento] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEvento]
    @DNI         VARCHAR(8),
    @Fecha       DATE,
    @Hora        TIME,
    @Modulo      VARCHAR(50),
    @Evento      VARCHAR(50),
    @Criticidad  INT
AS
BEGIN
    INSERT INTO Eventos_23DB (Id_Evento, DNI, Fecha, Hora, Modulo, Evento, Criticidad)
    SELECT ISNULL(MAX(Id_Evento), 0) + 1, @DNI, @Fecha, @Hora, @Modulo, @Evento, @Criticidad
    FROM Eventos_23DB WITH (UPDLOCK, HOLDLOCK);
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarFactura_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarFactura_62FD]
@NroFactura VARCHAR(20), @CodPago VARCHAR(20), @FechaEmision DATETIME, @Total DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Factura_62FD (NroFactura_62FD, CodPago_62FD, FechaEmision_62FD, Total_62FD)
    VALUES (@NroFactura, @CodPago, @FechaEmision, @Total);
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarFamFam] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFamFam]
    @IdFamiliaPadre INT,
    @IdFamiliaHija  INT
AS
BEGIN
    INSERT INTO FamFam_23DB (IdFamiliaPadre, IdFamiliaHija)
    VALUES (@IdFamiliaPadre, @IdFamiliaHija);
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFamilia]
    @NombreFamilia VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Generado TABLE (IdFamilia INT);

    INSERT INTO Familia_23DB (IdFamilia, NombreFamilia)
    OUTPUT INSERTED.IdFamilia INTO @Generado
    SELECT ISNULL(MAX(IdFamilia), 0) + 1, @NombreFamilia
    FROM Familia_23DB WITH (UPDLOCK, HOLDLOCK);

    SELECT IdFamilia FROM @Generado;
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarFamPat] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFamPat]
    @IdFamilia INT,
    @IdPatente INT
AS
BEGIN
    INSERT INTO FamPat_23DB (IdFamilia, IdPatente)
    VALUES (@IdFamilia, @IdPatente);
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarPago_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarPago_62FD]
@CodPago VARCHAR(20), @CodReserva VARCHAR(20), @MedioPago VARCHAR(20), @EntidadFinanciera VARCHAR(50), @UltimosDigitos VARCHAR(4), @CodigoAutorizacion VARCHAR(20),
@FechaOperacion DATETIME, @MontoTotal DECIMAL(10,2), @EstadoPago VARCHAR(20)
AS
BEGIN
	INSERT INTO Pago_62FD (CodPago_62FD, CodReserva_62FD, MedioPago_62FD, EntidadFinanciera_62FD, UltimosDigitos_62FD, CodigoAutorizacion_62FD, FechaOperacion_62FD, MontoTotal_62FD, EstadoPago_62FD)
    VALUES (@CodPago, @CodReserva, @MedioPago, @EntidadFinanciera, @UltimosDigitos, @CodigoAutorizacion, @FechaOperacion, @MontoTotal, @EstadoPago);
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarPasaje_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarPasaje_62FD]
@CodPasaje VARCHAR(20), @IdDetalle INT, @FechaEmision DATETIME, @EstadoPasaje VARCHAR(20)
AS
BEGIN
	INSERT INTO Pasaje_62FD (CodPasaje_62FD, IdDetalle_62FD, FechaEmision_62FD, EstadoPasaje_62FD)
    VALUES (@CodPasaje, @IdDetalle, @FechaEmision, @EstadoPasaje)
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarPasajero_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarPasajero_62FD] 
@NumeroDocumento VARCHAR(8), @Apellido VARCHAR(50), @Nombre VARCHAR(50), @FechaNacimiento DATE, @CorreoElectronico VARCHAR(100), @Telefono VARCHAR(20), @ContactoEmergencia VARCHAR(100)
AS
BEGIN
	INSERT INTO Pasajero_62FD (numeroDocumento_62FD, Apellido_62FD, Nombre_62FD, FechaNacimiento_62FD, CorreoElectronico_62FD, Telefono_62FD, ContactoEmergencia_62FD)
    VALUES (@NumeroDocumento, @Apellido, @Nombre, @FechaNacimiento, @CorreoElectronico, @Telefono, @ContactoEmergencia);
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarReserva_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarReserva_62FD]
@CodReserva VARCHAR(20), @NroVuelo VARCHAR(10), @FechaReserva DATETIME, @MontoTotal DECIMAL(10,2), @EstadoReserva VARCHAR(20)
AS
BEGIN
	INSERT INTO Reserva_62FD (CodReserva_62FD, NroVuelo_62FD, FechaReserva_62FD, MontoTotal_62FD, EstadoReserva_62FD)
    VALUES (@CodReserva, @NroVuelo, @FechaReserva, @MontoTotal, @EstadoReserva);
END
GO
/****** Objeto: StoredProcedure [dbo].[InsertarRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarRol]
    @NombreRol VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Generado TABLE (IdRol INT);

    INSERT INTO Rol_23DB (IdRol, NombreRol)
    OUTPUT INSERTED.IdRol INTO @Generado
    SELECT ISNULL(MAX(IdRol), 0) + 1, @NombreRol
    FROM Rol_23DB WITH (UPDLOCK, HOLDLOCK);

    SELECT IdRol FROM @Generado;
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarRolFam] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarRolFam]
    @IdRol     INT,
    @IdFamilia INT
AS
BEGIN
    INSERT INTO RolFam_23DB (IdRol, IdFamilia)
    VALUES (@IdRol, @IdFamilia);
END

GO
/****** Objeto: StoredProcedure [dbo].[InsertarRolPat] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarRolPat]
    @IdRol     INT,
    @IdPatente INT
AS
BEGIN
    INSERT INTO RolPat_23DB (IdRol, IdPatente)
    VALUES (@IdRol, @IdPatente);
END

GO
/****** Objeto: StoredProcedure [dbo].[Modificar] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar]
    @DNI    VARCHAR(8),
    @Email  VARCHAR(100),
    @IdRol  INT
AS
BEGIN
    UPDATE Usuario_23DB
    SET Email = @Email,
        IdRol = @IdRol
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[ModificarFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarFamilia]
    @IdFamilia      INT,
    @NombreFamilia  VARCHAR(50)
AS
BEGIN
    UPDATE Familia_23DB
    SET NombreFamilia = @NombreFamilia
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[ModificarRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarRol]
    @IdRol      INT,
    @NombreRol  VARCHAR(20)
AS
BEGIN
    UPDATE Rol_23DB
    SET NombreRol = @NombreRol
    WHERE IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerAsientosPorVuelo_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerAsientosPorVuelo_62FD]
@NroVuelo VARCHAR(10)
AS
BEGIN
	SELECT  IdAsiento_62FD, NroVuelo_62FD, NroAsiento_62FD, Clase_62FD, EstadoAsiento_62FD
    FROM    Asiento_62FD
    WHERE   NroVuelo_62FD = @NroVuelo AND EstadoAsiento_62FD = 'Disponible'
    ORDER BY NroAsiento_62FD;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerDatosTabla] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerDatosTabla]
    @NombreTabla VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM DV_23DB WHERE NombreTabla = @NombreTabla)
        RETURN;

    IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = @NombreTabla AND SCHEMA_NAME(schema_id) = 'dbo')
        RETURN;

    DECLARE @Sql NVARCHAR(MAX) = N'SELECT * FROM dbo.' + QUOTENAME(@NombreTabla) + N';';

    EXEC sys.sp_executesql @Sql;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerDetallesReserva_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerDetallesReserva_62FD] 
@CodReserva VARCHAR(20)
AS
BEGIN
    SELECT D.IdDetalle_62FD, D.CodReserva_62FD, D.numeroDocumento_62FD, D.IdAsiento_62FD, D.Precio_62FD, P.Apellido_62FD, P.Nombre_62FD, A.NroAsiento_62FD, A.Clase_62FD
    FROM ReservaDetalle_62FD D
    INNER JOIN Pasajero_62FD P ON D.numeroDocumento_62FD = P.numeroDocumento_62FD
    INNER JOIN Asiento_62FD A ON D.IdAsiento_62FD = A.IdAsiento_62FD
    WHERE D.CodReserva_62FD = @CodReserva
    ORDER BY A.NroAsiento_62FD;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerDV] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerDV]
    @IdTabla INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdTabla, NombreTabla, DVH, DVV
    FROM DV_23DB
    WHERE IdTabla = @IdTabla;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerEventos] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEventos]
    @FechaInicio  DATE,
    @FechaFin     DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id_Evento, DNI, Fecha, Hora, Modulo, Evento, Criticidad
    FROM Eventos_23DB
    WHERE Fecha BETWEEN @FechaInicio AND @FechaFin
    ORDER BY Fecha DESC, Hora DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFamilia]
    @IdFamilia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdFamilia, NombreFamilia
    FROM Familia_23DB
    WHERE IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerFamilias] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFamilias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdFamilia, NombreFamilia
    FROM Familia_23DB;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerFamiliasDeRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFamiliasDeRol]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT RF.IdFamilia
    FROM RolFam_23DB RF
    WHERE RF.IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerLogins] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerLogins]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, [Login]
    FROM Usuario_23DB
    ORDER BY [Login];
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerNombresPatentesDeFamiliasDeRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerNombresPatentesDeFamiliasDeRol]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH FamiliasRecursivas AS (SELECT IdFamilia FROM RolFam_23DB WHERE IdRol = @IdRol UNION ALL
            SELECT FF.IdFamiliaHija
            FROM FamFam_23DB FF
            INNER JOIN FamiliasRecursivas FR ON FF.IdFamiliaPadre = FR.IdFamilia)
            SELECT DISTINCT P.NombrePatente
            FROM Patente_23DB P
            INNER JOIN FamPat_23DB FP ON P.IdPatente = FP.IdPatente
            INNER JOIN FamiliasRecursivas FR ON FP.IdFamilia = FR.IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerNombresPatentesDeRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerNombresPatentesDeRol]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.NombrePatente
    FROM Patente_23DB P
    INNER JOIN RolPat_23DB RP ON P.IdPatente = RP.IdPatente
    WHERE RP.IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerPasajeroPorDocumento_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerPasajeroPorDocumento_62FD] 
@NumeroDocumento VARCHAR(8)
AS
BEGIN
	SELECT  numeroDocumento_62FD, Apellido_62FD, Nombre_62FD, FechaNacimiento_62FD, CorreoElectronico_62FD, Telefono_62FD, ContactoEmergencia_62FD
    FROM    Pasajero_62FD
    WHERE   numeroDocumento_62FD = @NumeroDocumento;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerPatentes] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPatentes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdPatente, NombrePatente, Descripcion
    FROM Patente_23DB;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerPatentesDeFamilia] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPatentesDeFamilia]
    @IdFamilia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.IdPatente, P.NombrePatente, P.Descripcion
    FROM Patente_23DB P
    INNER JOIN FamPat_23DB FP ON P.IdPatente = FP.IdPatente
    WHERE FP.IdFamilia = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerPatentesDeRolDirectas] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPatentesDeRolDirectas]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.IdPatente, P.NombrePatente, P.Descripcion
    FROM Patente_23DB P
    INNER JOIN RolPat_23DB RP ON P.IdPatente = RP.IdPatente
    WHERE RP.IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerReservaPorCodigo_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerReservaPorCodigo_62FD] 
@CodReserva VARCHAR(20)
AS
BEGIN
	SELECT R.CodReserva_62FD, R.NroVuelo_62FD, R.FechaReserva_62FD, R.MontoTotal_62FD, R.EstadoReserva_62FD, V.Origen_62FD, V.Destino_62FD, V.FechaHoraSalida_62FD
    FROM Reserva_62FD R INNER JOIN Vuelo_62FD V ON R.NroVuelo_62FD = V.NroVuelo_62FD
    WHERE R.CodReserva_62FD = @CodReserva;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerReservasPendientes_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerReservasPendientes_62FD]

AS
BEGIN
    SELECT  R.CodReserva_62FD, R.NroVuelo_62FD, R.FechaReserva_62FD, R.MontoTotal_62FD, R.EstadoReserva_62FD, V.Origen_62FD, V.Destino_62FD, V.FechaHoraSalida_62FD,
    (SELECT COUNT(*) FROM ReservaDetalle_62FD D WHERE D.CodReserva_62FD = R.CodReserva_62FD) AS CantidadPasajeros_62FD
        FROM Reserva_62FD R INNER JOIN Vuelo_62FD V ON R.NroVuelo_62FD = V.NroVuelo_62FD
        WHERE R.EstadoReserva_62FD = 'Pendiente de Pago'
        ORDER BY R.FechaReserva_62FD DESC;

END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerRol] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRol]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdRol, NombreRol
    FROM Rol_23DB
    WHERE IdRol = @IdRol;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerRoles] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRoles]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdRol, NombreRol
    FROM Rol_23DB;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerSubFamilias] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSubFamilias]
    @IdFamilia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdFamiliaHija
    FROM FamFam_23DB
    WHERE IdFamiliaPadre = @IdFamilia;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTodos] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodos]
    @Filtro VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, Apellido, Nombre, Email, [Login], IdRol, Bloqueado, Activo,
           IntentosFallidos, FechaUltimoIntento, UltimoIdioma
    FROM Usuario_23DB
    WHERE (@Filtro = 'Activos'   AND Activo = 1)
       OR (@Filtro = 'Inactivos' AND Activo = 0)
       OR (@Filtro IS NULL OR @Filtro NOT IN ('Activos', 'Inactivos'))
    ORDER BY Apellido, Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTodosDV] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosDV]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdTabla, NombreTabla, DVH, DVV
    FROM DV_23DB;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerTodosLosVuelos_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosVuelos_62FD] 

AS
BEGIN
	SELECT  NroVuelo_62FD, Origen_62FD, Destino_62FD, FechaHoraSalida_62FD, Matricula_62FD, Precio_62FD, EstadoVuelo_62FD
    FROM Vuelo_62FD
    ORDER BY FechaHoraSalida_62FD;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuario] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuario]
    @Login     VARCHAR(20),
    @Password  VARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, Apellido, Nombre, Email, [Login], IdRol, Bloqueado, Activo,
           IntentosFallidos, FechaUltimoIntento, UltimoIdioma
    FROM Usuario_23DB
    WHERE [Login] = @Login
      AND [Password] = @Password;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioDNI] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioDNI]
    @DNI VARCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, Apellido, Nombre, Email, [Login], IdRol, Bloqueado, Activo,
           IntentosFallidos, FechaUltimoIntento, UltimoIdioma
    FROM Usuario_23DB
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorDNI] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorDNI]
    @DNI       VARCHAR(8),
    @Password  VARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, Apellido, Nombre, Email, [Login], IdRol, Bloqueado, Activo,
           IntentosFallidos, FechaUltimoIntento, UltimoIdioma
    FROM Usuario_23DB
    WHERE DNI = @DNI
      AND [Password] = @Password;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorLogin] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorLogin]
    @Login VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DNI, Apellido, Nombre, Email, [Login], IdRol, Bloqueado, Activo,
           IntentosFallidos, FechaUltimoIntento, UltimoIdioma
    FROM Usuario_23DB
    WHERE [Login] = @Login;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerVuelos_62FD] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerVuelos_62FD] 
@Origen VARCHAR(50), @Destino VARCHAR(50), @FechaPartida DATE
AS
BEGIN
	SELECT NroVuelo_62FD, Origen_62FD, Destino_62FD, FechaHoraSalida_62FD, Matricula_62FD, EstadoVuelo_62FD, Precio_62FD FROM Vuelo_62FD
	WHERE Origen_62FD = @Origen
    AND Destino_62FD = @Destino
    AND   CAST(FechaHoraSalida_62FD AS DATE) = @FechaPartida
    AND   EstadoVuelo_62FD <> 'Cancelado'
    AND   FechaHoraSalida_62FD > GETDATE()
    ORDER BY FechaHoraSalida_62FD;
END
GO
/****** Objeto: StoredProcedure [dbo].[ResetearIntentos] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentos]
    @DNI VARCHAR(8)
AS
BEGIN
    UPDATE Usuario_23DB
    SET IntentosFallidos = 0,
        FechaUltimoIntento = NULL
    WHERE DNI = @DNI;
END

GO
/****** Objeto: StoredProcedure [dbo].[RolEstaAsignado] Fecha de script: 28/9/2026 21:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RolEstaAsignado]
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS Cantidad
    FROM Usuario_23DB
    WHERE IdRol = @IdRol;
END

GO
